<div id="mapid"></div>

<div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist" id = 'main-list'>

                <li class='disabled title'>MAIN EVENTS</li>
                {{#each items}}
                	<li><a href={{this.path}} role='tab'><i class = "fa fa-info-circle"></i>&nbsp;&nbsp;{{this.name}}</a></li>
                {{/each}}
             	<li><a href = '#new-content' role='tab'><i class = 'fa fa-plus-circle'></i></a></li>

            </ul>

            <ul role="tablist">
                <li class = 'disabled title'>MAP LEGEND</li>
                <li style = "color: red; text-align: center" class = 'disabled'>Axis Powers</li>
                <li style = "color: blue; text-align: center" class = 'disabled'>Allies</li>
                <li style = "color: green; text-align: center" class = 'disabled'>U.S.S.R</li>
            </ul>
        </div>

        <!-- Tab panes -->
        
        <div class="sidebar-content" id='main-info'>
        	{{#each items}}
            	<div class="sidebar-pane" id={{this.hashid}}>
                	<h1 class="sidebar-header">{{this.name}}</h1>
                	<span class="sidebar-edit"><i class="fa fa-edit"></i></span>
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    <img src={{this.imgurl}} class='sidebar-pic'>
                	<p id = "content-description">{{this.desc}}</p>
                	<p style="display: none">{{this.lat}}</p>
                	<p style="display: none">{{this.lng}}</p>
            	</div>
            {{/each}}
            	<div class="sidebar-pane" id='new-content'>
                	<h1 class="sidebar-header">Title</h1>
                	<span class="sidebar-edit"><i class="fa fa-edit"></i></span>
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                    <img src = "images/blank.jpg" class="sidebar-pic">
                	<p id = "content-description">Enter your description here and pick a spot on the map to place marker</p>
                	<p style="display: none">0</p>
                	<p style="display: none">0</p>
            	</div>

        </div>
 </div>
<h1 style = "position: absolute; left: 120px; top: 0px; z-index: 1999; opacity: 0.3">The Map-zi Conquest</h1>
 <script>
 var time = 1939;
 var timeChanged = false;
 
 var map = L.map('mapid', {zoomControl: false}).setView([51.505, -0.09], 3);
  var Esri_WorldGrayCanvas = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ',
	maxZoom: 16,
	minZoom: 2,
	unloadInvisibleTiles : false,
    reuseTiles : true,
    updateWhenIdle : false,
    continousWorld : false,
    noWrap: false,

 
  }).addTo(map);
  //map.worldCopyJump = true;
  L.control.zoom({position: 'bottomright'}).addTo(map);
  map.bounds = [], map.setMaxBounds([[-85.05115, -280],[85,180]]);
var slider = L.control.slider(slider, {id:slider, orientation: 'horizontal', syncSlider: true, collapsed: false, width: 800, min: 1939, max: 1945, value: 1939, getValue: function(value){return 'Year: '+value;}});
slider.addTo(map);
map.on('zoom', checkZoom);


var sidebar = $('#sidebar').sidebar();
var markersLayer = L.featureGroup();

markersLayer.on("click", function(e){
	if($('.sidebar-content').children().hasClass('active')){
		$('.sidebar-content').children().removeClass('active')
		sidebar.close();
	}
	else{
		$.get('/marker/'+e.latlng.lat+'/'+e.latlng.lng, function(result){

		sidebar.open(result);
		});
	}
	
	
});

var countryShades = {
  y1939: {Axis: ['Germany', 'Luxembourg', 'Poland', 'Austria', 'Slovakia', 'Czech Republic'], USSR: ['Armenia', 'Azerbaijan', 'Belarus', 'Estonia', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Moldova', 'Russia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan'], Allies: ['United States of America', 'United Kingdom', 'France', 'Australia', 'India', 'Pakistan', 'New Zealand', 'Nepal', 'Tonga', 'South Africa', 'Canada', 'Egypt', 'Sri Lanka', 'Myanmar', 'Vietnam', 'Hong Kong', 'Singapore', 'Sudan', 'Nigeria', 'South Africa', 'Rhodesia', 'Northern Rhodesia', 'Bechuanaland', 'Nyasaland', 'Tanganyika', 'Kenya', 'Uganda', 'Mali', 'Mauritania', 'Algeria', 'Morocco', 'Liberia', 'Guinea', 'Senegal'] },
  y1940: {Axis: ['Algeria', 'Libya', 'Mauritiana', 'Senegal', 'Guinea', 'Mali', 'Burkina Faso', 'Togo', 'Benin', 'Niger', 'Ethiopia', 'Somalia', 'Eritrea', 'Madagascar', , 'Italy', 'Germany', 'Tunisia', 'Morocco', 'Luxembourg', 'Poland', 'Austria', 'Slovakia', 'Czech Republic', 'Syria', 'France', 'Netherlands', 'Belgium', 'Hungary', 'Romania', 'Norway'], USSR: ['Armenia', 'Azerbaijan', 'Belarus', 'Estonia', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Moldova', 'Russia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan'], Allies: ['Jordan', 'Israel', 'Lebanon', 'United States of America', 'United Kingdom', 'France', 'Australia', 'India', 'Pakistan', 'New Zealand', 'Nepal', 'Tonga', 'South Africa', 'Canada', 'Egypt', 'Sri Lanka', 'Myanmar', 'Vietnam', 'Hong Kong', 'Singapore', 'Sudan', 'Nigeria', 'South Africa', 'Rhodesia', 'Northern Rhodesia', 'Bechuanaland', 'Nyasaland', 'Tanganyika', 'Kenya', 'Uganda', 'Mali', 'Mauritania', 'Algeria', 'Liberia', 'Guinea', 'Senegal', 'Malaysia', 'Indonesia', 'Papua New Guinea', 'Solomon Islands', 'Greece', 'Ghana', 'United Arab Emirates', 'Oman', 'Yemen', 'United Republic of Tanzania', 'Democratic Republic of the Congo', 'Zambia', 'Zimbabwe', 'Botswana', 'Namibia', 'Congo', 'Gabon', 'Chad', 'Cameroon', 'Central African Republic', 'South Sudan'] },
  y1941: {Axis: ['Algeria', 'Libya', 'Mauritiana', 'Senegal', 'Guinea', 'Mali', 'Burkina Faso', 'Togo', 'Benin', 'Niger', 'Eritrea', 'Madagascar', , 'Italy', 'Germany', 'Tunisia', 'Morocco', 'Luxembourg', 'Poland', 'Austria', 'Slovakia', 'Czech Republic', 'Syria', 'France', 'Netherlands', 'Belgium', 'Hungary', 'Romania', 'Norway', 'North Korea', 'South Korea', 'Vietnam', 'Cambodia', 'Thailand', 'Laos', 'Taiwan', 'Japan', 'Mongolia', 'Philippines', 'Estonia', 'Latvia', 'Lithuania', 'Belarus', 'Ukraine', 'Moldova', 'Slovenia', 'Croatia', 'Bosnia and Herzegovina', 'Montenegro', 'Republic of Serbia', 'Albania', 'Bulgaria', 'Macedonia'], USSR: [], Allies: ['Jordan', 'Israel', 'Lebanon', 'United States of America', 'United Kingdom', 'France', 'Australia', 'India', 'Pakistan', 'New Zealand', 'Nepal', 'Tonga', 'South Africa', 'Canada', 'Egypt', 'Sri Lanka', 'Myanmar', 'Vietnam', 'Hong Kong', 'Singapore', 'Sudan', 'Nigeria', 'South Africa', 'Rhodesia', 'Northern Rhodesia', 'Bechuanaland', 'Nyasaland', 'Tanganyika', 'Kenya', 'Uganda', 'Mali', 'Mauritania', 'Algeria', 'Liberia', 'Guinea', 'Senegal', 'Malaysia', 'Indonesia', 'Papua New Guinea', 'Solomon Islands', 'Greece', 'Ghana', 'United Arab Emirates', 'Oman', 'Yemen', 'Ethiopia', 'Somalia', 'Djibouti', 'United Republic of Tanzania', 'Democratic Republic of the Congo', 'Zambia', 'Zimbabwe', 'Botswana', 'Namibia', 'Congo', 'Gabon', 'Chad', 'Cameroon', 'Central African Republic', 'South Sudan', 'Iraq', 'Iran', 'Armenia', 'Azerbaijan', 'Belarus', 'Estonia', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Latvia', 'Lithuania', 'Moldova', 'Russia', 'Tajikistan', 'Turkmenistan', 'Ukraine', 'Uzbekistan', 'Bangladesh'] },
  y1942: {Axis: [], USSR: [], Allies: []},
};

function countriesStyle(feature){

	var params = {
			weight: 1,
			opacity: 0,
			color: 'white',
			dashArray: 3,

	};
	
	
	if(time == 1939){
		if(countryShades.y1939.Axis.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'red';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1939.USSR.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'green';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1939.Allies.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'blue';
			params.fillOpacity = 0.4;
		}
	}

	else if(time == 1940){
		if(countryShades.y1940.Axis.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'red';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1940.USSR.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'green';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1940.Allies.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'blue';
			params.fillOpacity = 0.4;
		}
	}

	else if(time == 1941){
		if(countryShades.y1941.Axis.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'red';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1941.USSR.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'green';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1941.Allies.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'blue';
			params.fillOpacity = 0.4;
		}
	}

	else if(time == 1942){
		if(countryShades.y1942.Axis.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'red';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1942.USSR.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'green';
			params.fillOpacity = 0.4;
		}
		else if(countryShades.y1942.Allies.indexOf(feature.properties.ADMIN) >= 0){
			params.fillColor = 'blue';
			params.fillOpacity = 0.4;
		}
	}
	return params;
	
}



function sliderChange(){
	
	if((map.getZoom() > 5)){
		timeChanged = false;
		$.get('/zoom/spots', function(result){
			markersLayer.clearLayers();
			currentZoom = map.getZoom();
			//FOR MENU
			$('#main-list').children().each(function(){
				$(this).hide(0, function(){this.remove();})
				//$(this).remove();
				//$(this).fadeOut(200).promise().done(function(){$(this).remove;})
			}).promise().done(function(){
				//$('#main-list').hide();
				var string = "<li class='disabled title'>SPOTS OF INTEREST</li>";
				for(var i = 0; i < result.length; i++){
					if(result[i].year == time){
						string += "<li class><a href=#"+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+" role='tab'><i class='fa fa-info-circle'></i>&nbsp;&nbsp;"+result[i].name+"</a></li>";
						var circleicon = L.icon({iconUrl: result[i].iconurl, iconSize: [40,40], shadowUrl: '/images/icons/shadow.png', shadowSize: [40,30], shadowAnchor: [0,10]});
						markersLayer.addLayer(L.marker([result[i].lat,result[i].lng], {icon: circleicon}));
					}
					
				}
				string += "<li><a href = '#new-content' role='tab'><i class = 'fa fa-plus-circle'></i></a></li>";
				$(string).appendTo("#main-list");
				//$('#main-list').fadeIn(600);
				sidebar = null;
				sidebar = $('#sidebar').sidebar();
			
			});

			sidebar.close();
			markersLayer.addTo(map);

			//FOR INFO
			$('#main-info').children().each(function(){
				//$(this).hide('10', function(){this.remove();})
				this.remove();
				//$(this).fadeOut(200).promise().done(function(){$(this).remove;})
			}).promise().done(function(){
				
				var string = "";
				for(var i = 0; i < result.length; i++){
					if(result[i].year == time){
						string += "<div class='sidebar-pane' id="+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+"><h1 class = 'sidebar-header'>"+result[i].name+"</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = '"+result[i].imgurl+"' class ='sidebar-pic'><p id = 'content-description'>"+result[i].desc+"</p><p style='display: none'>"+result[i].lat+"</p><p style='display: none'>"+result[i].lng+"</p></div>";
					}
					
				}
				string += "<div class='sidebar-pane' id='new-content'><h1 class='sidebar-header'>Title</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = 'images/blank.jpg' class ='sidebar-pic'><p id = 'content-description'>Enter your description here and pick a spot on the map to place marker</p><p style='display: none'>0</p><p style='display: none'>0</p></div>"
				$(string).appendTo("#main-info");
				
			
			});
			
		});
		
	}
	else if((map.getZoom() <= 5)){
		timeChanged = false;
		$.get('/zoom/events', function(result){
			markersLayer.clearLayers();
			currentZoom = map.getZoom();
			$('#main-list').children().each(function(){
				$(this).hide(0, function(){this.remove();})
			    //$(this).remove();
			}).promise().done(function(){
				//$('#main-list').hide();
				var string = "<li class='disabled title'>MAIN EVENTS</li>";
				for(var i = 0; i < result.length; i++){
					if(result[i].year != time){
						continue;
					}
					string += "<li class><a href='#"+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+"' role='tab'><i class='fa fa-info-circle'></i>&nbsp;&nbsp;"+result[i].name+"</a></li>";
					//console.log(result[i].lat, result[i].lng);
					var circleicon = L.icon({iconUrl: result[i].iconurl, iconSize: [40,40], shadowUrl: '/images/icons/shadow.png', shadowSize: [40,30], shadowAnchor: [0,10]});
					markersLayer.addLayer(L.marker([result[i].lat,result[i].lng], {icon: circleicon}));
				}
				string += "<li><a href = '#new-content' role='tab'><i class = 'fa fa-plus-circle'></i></a></li>";
				$(string).appendTo("#main-list");
				//$('#main-list').fadeIn(600);
				sidebar = null;

				sidebar = $('#sidebar').sidebar();
			});

			
			sidebar.close();
			markersLayer.addTo(map);
			//console.log(markersLayer._layers)

			$('#main-info').children().each(function(){
				//$(this).hide('slow', function(){this.remove();})
				//console.log(this); 
				this.remove();
				//$(this).fadeOut(200).promise().done(function(){$(this).remove;})
			}).promise().done(function(){
				//$('#main-info').hide();
				var string = "";
				for(var i = 0; i < result.length; i++){
					if(result[i].year == time){
						string += "<div class='sidebar-pane' id="+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+"><h1 class = 'sidebar-header'>"+result[i].name+"</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = '"+result[i].imgurl+"' class ='sidebar-pic'><p id = 'content-description'>"+result[i].desc+"</p><p style='display: none'>"+result[i].lat+"</p><p style='display: none'>"+result[i].lng+"</p></div>";
					}
					
				}
				string += "<div class='sidebar-pane' id='new-content'><h1 class='sidebar-header'>Title</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = 'images/blank.jpg' class ='sidebar-pic'><p id = 'content-description'>Enter your description here and pick a spot on the map to place marker</p></div>"

				$(string).appendTo("#main-info");
				
				//$('#main-info').fadeIn(600);
			
			});

		});


	//sidebar = $('#sidebar').sidebar();
	}
}
function checkZoom(){
	
	if((map.getZoom() > 5 && currentZoom <= 5)){
		timeChanged = false;
		$.get('/zoom/spots', function(result){
			markersLayer.clearLayers();
			currentZoom = map.getZoom();
			//FOR MENU
			$('#main-list').children().each(function(){
				$(this).hide('slow', function(){this.remove();})
				//this.remove();
				//$(this).fadeOut(200).promise().done(function(){$(this).remove;})
			}).promise().done(function(){
				$('#main-list').hide();
				var string = "<li class='disabled title'>SPOTS OF INTEREST</li>";
				for(var i = 0; i < result.length; i++){
					if(result[i].year == time){
						string += "<li class><a href=#"+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+" role='tab'><i class='fa fa-info-circle'></i>&nbsp;&nbsp;"+result[i].name+"</a></li>";
						var circleicon = L.icon({iconUrl: result[i].iconurl, iconSize: [40,40], shadowUrl: '/images/icons/shadow.png', shadowSize: [40,30], shadowAnchor: [0,10]});
						markersLayer.addLayer(L.marker([result[i].lat,result[i].lng], {icon: circleicon}));
					}
					
				}
				string += "<li><a href = '#new-content' role='tab'><i class = 'fa fa-plus-circle'></i></a></li>";
				$(string).appendTo("#main-list");
				$('#main-list').fadeIn(600);
				sidebar = $('#sidebar').sidebar();
			
			});

			sidebar.close();
			markersLayer.addTo(map);


			//FOR INFO
			$('#main-info').children().each(function(){
				//$(this).hide('slow', function(){this.remove();})
				this.remove();
				//$(this).fadeOut(200).promise().done(function(){$(this).remove;})
			}).promise().done(function(){
				
				var string = "";
				for(var i = 0; i < result.length; i++){
					if(result[i].year == time){
						string += "<div class='sidebar-pane' id="+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+"><h1 class = 'sidebar-header'>"+result[i].name+"</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = '"+result[i].imgurl+"' class ='sidebar-pic'><p id = 'content-description'>"+result[i].desc+"</p><p style='display: none'>"+result[i].lat+"</p><p style='display: none'>"+result[i].lng+"</p></div>";
					}
					
				}
				string += "<div class='sidebar-pane' id='new-content'><h1 class='sidebar-header'>Title</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = 'images/blank.jpg' class ='sidebar-pic'><p id = 'content-description'>Enter your description here and pick a spot on the map to place marker</p><p style='display: none'>"+'0'+"</p><p style='display: none'>"+'0'+"</p></div>"
				$(string).appendTo("#main-info");
				
			
			});
			
		});
		
	}
	else if((map.getZoom() <= 5 && currentZoom > 5)){
		timeChanged = false;
		$.get('/zoom/events', function(result){
			//console.log(map.getCenter());
			markersLayer.clearLayers();
			currentZoom = map.getZoom();
			$('#main-list').children().each(function(){
				$(this).hide('slow', function(){this.remove();})
			//this.remove();
			}).promise().done(function(){
				$('#main-list').hide();
				var string = "<li class='disabled title'>MAIN EVENTS</li>";
				for(var i = 0; i < result.length; i++){
					if(result[i].year != time){
						continue;
					}
					string += "<li class><a href='#"+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+"' role='tab'><i class='fa fa-info-circle'></i>&nbsp;&nbsp;"+result[i].name+"</a></li>";
					var circleicon = L.icon({iconUrl: result[i].iconurl, iconSize: [40,40], shadowUrl: '/images/icons/shadow.png', shadowSize: [40,30], shadowAnchor: [0,10]});
					markersLayer.addLayer(L.marker([result[i].lat,result[i].lng], {icon: circleicon}));
				}
				string += "<li><a href = '#new-content' role='tab'><i class = 'fa fa-plus-circle'></i></a></li>";
				$(string).appendTo("#main-list");
				$('#main-list').fadeIn(600);
				sidebar = $('#sidebar').sidebar();
			});

			
			sidebar.close();
			markersLayer.addTo(map);
			
			$('#main-info').children().each(function(){
				//$(this).hide('slow', function(){this.remove();})
				this.remove();
				//$(this).fadeOut(200).promise().done(function(){$(this).remove;})
			}).promise().done(function(){
				//$('#main-info').hide();
				var string = "";
				for(var i = 0; i < result.length; i++){
					if(result[i].year != time){
						continue;
					}
					string += "<div class='sidebar-pane' id="+result[i].name.replace(/\s+/g, '').replace(/\'+/g, '')+"><h1 class = 'sidebar-header'>"+result[i].name+"</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = '"+result[i].imgurl+"' class ='sidebar-pic'><p id = 'content-description'>"+result[i].desc+"</p><p style='display: none'>"+result[i].lat+"</p><p style='display: none'>"+result[i].lng+"</p></div>";
				}
				string += "<div class='sidebar-pane' id='new-content'><h1 class='sidebar-header'>Title</h1><span class='sidebar-edit'><i class='fa fa-edit'></i></span><span class='sidebar-close'><i class='fa fa-caret-left'></i></span><img src = 'images/blank.jpg' class ='sidebar-pic'><p id = 'content-description'>Enter your description here and pick a spot on the map to place marker</p><p style='display: none'>"+'0'+"</p><p style='display: none'>"+'0'+"</p></div>"
				$(string).appendTo("#main-info");
				
				//$('#main-info').fadeIn(600);
			
			});

		});


	//sidebar = $('#sidebar').sidebar();
	}
}
var currentZoom = map.getZoom();
var countriesLayer = L.geoJson(countries, {style: countriesStyle}).addTo(map);




function slider(value){
	//time = value;
		
	if(time != value){
		timeChanged = true;
		time = value;
		
		countriesLayer.eachLayer(function(l) {
			$(l._path).fadeOut(500); // 1000ms animation time
		});

		setTimeout(function() {
  			map.removeLayer(countriesLayer);

  			countriesLayer = L.geoJson(countries, {style: countriesStyle});//.addTo(map);
  			map.addLayer(countriesLayer);
  			countriesLayer.eachLayer(function(l) {
				$(l._path).hide(); // 1000ms animation time
				$(l._path).fadeIn(500);
			});
			
  		}, 500);

		sliderChange();


	}
	



}

sliderChange();





 </script>
